/* ------------header------------------ */

.nav-bar {
    background-color: aliceblue;
    padding: 10px 0;
  }
  
  .nav-bar-container {
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-link {
    display: flex;
  }
  
  .nav-link a {
    margin-left: 20px;
  }
  